body{
  background-color: #161616;
  color: #ddd;
  padding: 50px;
}

h1{
  color: #eef;
  text-align: center;
}

.content {
  display: block;
}

.switcher {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}



.link {
  background-color: #335;
  padding: 10px;
  color: #ddd;
  border-radius: 5px;
  text-decoration: none;
}
